DISCORD_BOT_TOKEN = YOUR_DISCORD_BOT_TOKEN
# The bot token for the discord bot. This is a secret and should not be shared.

CUSTOMER_HEAD_OP_CHANNEL_ID = 1413577828498276474
SHIFT_LEADER_GEN_MANAGER_CHANNEL_ID = 1413577873159229481
JUNIOR_DIRECTOR_CHAIRMAN_CHANNEL_ID = 1413578146120204298
TIME_TRACKING_CHANNEL_ID = 1413620449912295645

logtail_source_token = DRonre74svjezRMwYutZjq6f
logtail_host = https://s1627650.eu-nbg-2.betterstackdata.com
